.search {
  margin-top: 10%;
  color: black;
}

.titlediv {
  margin-top: 5%;
}

.cusotmemenu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.cusotmemenu:hover {
  background-color: yellow;
}
.customemenuitem1 {
  padding-left: 1%;
  padding-right: 10%;
  flex-grow: 8;
}

.customemenuitem2 {
  /* padding-left: 10%; */
  padding-right: 10%;
  /* flex-grow: 2; */
}

.customemenuitem3 {
  /* padding-left: 10%; */
  padding-right: 10%;
  /* flex-grow: 2; */
}

.customemenuitem4 {
  padding-left: 5%;
  padding-right: 1%;
  height: 100px;

  /* flex-grow: 2; */
}

.cardcontainer {
  margin-top: 6%;
}

.sharebutton {
  float: right;
  margin-top: 1%;
}

.clearbutton {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
}

.giticon {
  cursor: pointer;
}

.sharetitle {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .cardcontainer {
    margin-top: 10%;
  }
}

@media screen and (max-width: 770px) {
  .cardcontainer {
    margin-top: 12%;
  }
}

@media screen and (max-width: 500px) {
  .cardcontainer {
    margin-top: 15%;
  }
  .sharetitle {
    text-align: center;
    font-size: 1rem;
  }
  .sharebutton {
    float: right;
    margin-top: 1%;
    font-size: 1rem;
  }

  .clearbutton {
    float: right;
    margin-top: 1%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .sharetitle {
    text-align: center;
    font-size: 1rem;
  }
  .cardcontainer {
    margin-top: 20%;
  }
  .sharebutton {
    float: right;
    margin-top: 1%;
    font-size: 1rem;
  }

  .clearbutton {
    float: right;
    margin-top: 1%;
    font-size: 1rem;
  }
}
