.poster {
  height: 5%;
}

.imdbatag {
  margin-top: -1%;
  margin-right: 1%;
  float: right;
}

.imdbratingbadge {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  font-size: 1.5rem;
}

.textfeilds {
  font-size: 90% !important;
}

.cardbodaypad {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
  .imdbatag {
    margin-top: 0%;
    padding-bottom: 1%;
    margin-right: 2%;
    float: right;
    font-size: 1rem;
  }

  .imdbratingbadge {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .imdbratingbadge {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    font-size: 1rem;
  }
  .imdbatag {
    padding-bottom: 1%;
    margin-right: 2%;
    float: right;
    font-size: 1rem;
  }
}
